{% extends "base.html" %}

{% block content %}
<table id="container">
    <tr>
        <td id="left">
            <table>
                <tr>
                    <td id="afe-menu">
                        <div id="menu>">
                            <div>
                            <button id="btn-save-and-next" class="afe-action" type="button" title="Gem denne fil, og åbn den næste i listen">Gem og vis næste</button>
                            <button id="btn-next" class="afe-action" type="button" title="Åbn næste fil (uden at gemme den nuværende)">Vis næste</button>
                            <button id="btn-save" class="afe-action" type="button" title="Gem den nuværende fil">Gem</button>
                            <button id="btn-cancel" class="afe-action" type="button" title="Annuller ændringerne (og opfrisk filen)">Annuller</button>
                            </div>
                            <div id="afe-menu-documents">
                            <select id="docList">
                            <option value="0" disabled="disabled" selected="selected">Åbn vejledning...</option>
                            <option value="/static/Brugervejledning_AltoFaxEdit.pdf">Brugervejledning til AltoFaxEdit</option>
                            <option value="/static/fraktur_i_Danmark.pdf">Læs om fraktur</option>
                            <option value="/static/Vejledning_korrektur_Trykkefrihedens_Skrifter.pdf">Vejledning til Trykkefrihedens Skrifter</option>
                            </select>
                            </div>
                            <div id="afe-user"><span class="fas fa-user"/><span id="afe-username" title="Login-navn">{{user}}</span>
                                <span><a href="/setup" title="Opsætning af brugeren">Setup</a></span>
                                <span id="afe-message"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="afe-folders">
                        <div id="folders"></div>
                    </td>
                </tr>
            </table>
        </td>
        <td id="middle">
            <table>
                <tr>
                    <td id="afe-image">
                        <div id="image">
                            <canvas id="afe-image-canvas"/>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td id="afe-text">
                        <div id="text">
                            <h2>Vælg en XML-fil fra folderne for at se indholdet...</h2>
                        </div> 
                    </td>
                </tr>
            </table>   
        </td>
        <td id="right">     
            <div id="image-preview">    
                <canvas id="afe-preview-canvas"/>
            </div> 
        </td>
    </tr>
</table>
{% endblock %}

