{% extends "base.html" %}

{% block content %}
<div id="container">
    <h1>ALTO Fax Edit version {{version}} - Setup</h1>
    <div id="login-container">
        <form method="POST">
            <table>
                <tr>
                    <td>Indsæt "Personal Access Token" fra din Github-konto&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/settings/tokens" target="_new">Link til Github token setup</a></td>
                 </tr>
                 <tr>
                    <td><input name="token" type="text" size="50" value="{{token}}"></td>
                 </tr>
                <tr>
                    <td><button id="btn-save-token" class="afe-setup-action" type="submit" title="Gem token">Gem</button></td>
                </tr>
            </table>
        </form>
    </div>

	<p style="padding-top:2em;"><a href="/">Tilbage til applikationen</a></p>
	<p style="padding-top:2em;"><a href="{{ url_for('static', filename='Brugervejledning_AltoFaxEdit.pdf')}}?v={{version}}" target="_blank">Åbn Brugervejledning til AltoFaxEdit</a></p>
</div>
{% endblock %}
