/*
    Stylesheet for the ALTO Fax Edit Application
    Martin B: Nielsen
    17-12-2019
*/

/* ------------------------------- */
/* Setup the main application grid */
/* ------------------------------- */

table#container {
    position: fixed;
}

table {
    display: block;
}

table td {
    vertical-align: top;
}

/* The MAIN page structure / dimensions */
table td#left {
    width: 320px;
}

table td#middle {
  /*  width: 100%; */
    border-right: 3px solid lightgray;
}

td#right {
    max-width: 40em;
}

div#menu {
    height: 200px;
    display: contents;
}

div#image {
    min-height: 12em;
    max-height: 12em;
    overflow: scroll;
    text-align: center;
}

div#text {
    min-height: 200px;
    overflow: scroll;
    width: 100%;
    height: 60vh;
}

div#folders {
    overflow: scroll;
    padding: 3px;
    height: 88vh;
}

table td#left {
    min-width: 315px;
    border-right: 3px solid lightgray;
}

table td#afe-image, table td#afe-menu {
    border-bottom: 3px solid lightgray;
    padding-bottom: 7px;
}

/* --------------- */
/* The menu region */
/* --------------- */
button.afe-action {
    margin-right: 5px;
    margin-top: 5px;
    height: 36px;
}

div#afe-user {
    padding-left: 5px;
    padding-top: 5px;
}

div#afe-user span {
    margin-left: 5px;
}

span#afe-username {
    margin-left: 5px;
}

/* ----------------- */
/* The Folder region */
/* ----------------- */

.afe-folder {
    cursor: pointer;
}

.afe-folder:hover {
   background-color:lightblue;;
}

.afe-folder.current {
    color: blue;
    font-weight: bold;
}

.afe-folder.changed {
    color: orange;
    font-weight: bold;
}

.afe-folder.saved {
    color: green;
    font-weight: bold;
}

.afe-folder.error {
    color: red;
    font-weight: bold;
}

/* ----------------- */
/* The Image region */
/* ----------------- */

#image-preview #afe-preview-canvas {
    height: 100%;
}

div#image-preview {
    height: 100vh;
}

#image canvas#afe-image-canvas {
    max-width: 100%;
}

/* --------------- */
/* The Text region */
/* --------------- */

td#afe-text {
    width: 100vw;
}

#text .TextLine {
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap; 
    min-height: 20px;
}

span.SP { 
    display: inline-block; 
    width: 6px; 
}

span.String { 
    padding-left: 4px; 
    padding-right: 4px; 
}

#text span.String:hover {
    background-color: lightgreen!important;
}

/* Empty strings - display a min. width */
#text span.String:empty {
    padding-right: 40px;
}

#text .TextLine:hover {
    background-color:rgba(211, 211, 211, 0.527);
}

#text .TextLine:hover i.afe-line-action {
    visibility: visible;
}

#text input.afe-edit {
    font-size: 14pt;
    text-align:center;  
    padding:0px;
    margin:0px;
   outline-width: 3px;
}

#text span.afe-has-changed {
    color: red;
}

i.afe-line-action {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    visibility: hidden;
    color: red;
    padding-top: 2px;
    line-height: 14pt;
}

span[data-subs_type=HypPart1]::after { 
    content: '-'; 
    font-family: sans-serif;
    font-weight: bold;
    color: blue;
    background-color: #d8d8ff;
}

input[type="text"] {
    font-size: 14pt;
}

/* --------------- */
/* The setup page  */
/* --------------- */

button.afe-setup-action {
    margin-right: 5px;
    margin-top: 5px;
    height: 36px;
    width: 200px;
}
